<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            body {
                font-family: Calibri, sans-serif;
                background: #fcfaf9;

            }

            .nav {
                padding: 15px;
                text-align: center;
            }
            .nav .add-button {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: #32a852;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin-top: 5px;
            }
            .nav .add-button:hover {
                background-color: #3e8e41
            }
            .nav .add-button:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

            .nav .delete-button {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: #ff1212;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin-top: 5px;
            }
            .nav .delete-button:hover {
                background-color: #a31414
            }
            .nav .delete-button:active {
                background-color: #a31414;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

            .grid {
                position: relative;
            }

            .item {
                display: flex;
                align-items: center;
                position: absolute;
                height: 200px;
                width: 200px;
                margin: 5px;
                text-align: center;
                z-index: 1;
                background: #fffb91;
                font-family: "Freestyle Script";
            }
            .item a {
                text-align: center;
                text-decoration: none;
                width: 100%;
            }

            .item.muuri-item-dragging {
                z-index: 3;
            }
            .item.muuri-item-releasing {
                z-index: 2;
            }
            .item.muuri-item-hidden {
                z-index: 0;
            }

            .item.muuri-item-dragging {
                z-index: 3;
                background: #fffa7d;
            }
            .item.muuri-item-releasing{
                z-index: 2;
                background: #e6e05c;
            }

            .item-content {
                position: relative;
                width: 100%;
                cursor: pointer;
                color: #000;
                font-size: 30px;
                text-align: center;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js"></script>

        <script>
            /*$(".grid .item").each(function(){
                var duedate = $(this).find(".item-content").find(".duedate").val();
                console.log(duedate);
            });*/

            var grid = new Muuri('.grid', {
                dragEnabled: true
            });
        </script>
    </body>
</html>
