{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}

    <div class="nav">
        <a class="add-button" href="{{ path('note_new') }}">Create new</a>
    </div>

    <div class="grid">
        {% for note in notes %}
        <div class="item">
            <div class="item-content">
                {{ note.note }}
            </div>
        </div>
        {% else %}
            <p>Aucune note enregistrée !</p>
        {% endfor %}
    </div>
{% endblock %}
